<div class="outPopUp">
  <form class="example-form">
    <mat-form-field class="example-full-width" >
      <input matInput placeholder="Login" #login>
    </mat-form-field>
    <mat-form-field class="example-full-width" >
      <input matInput placeholder="Password" #password>
    </mat-form-field>
  </form>
  <button class="icAdd"
          mat-button
          (click)="isAuthorized(login.value, password.value)">
    <!--<mat-icon aria-label="Example icon-button with a heart icon"></mat-icon>-->
    Login
  </button>
</div>
