.panel-class{
  width: 30vh;
}
.item-class{
 text-align: center;
}
.mainPanel{
  display: flex;
  justify-content: flex-start;
  flex-direction: row;

}
.panel-class {
  height: 87vh;
  margin-right: 10px;
  background-color: rgba(10, 10, 10, .04);
}
.panelInfo {
  height: 87vh;
  width: 100%;
}

.warnAddSubjet{
  margin-left: 40%;
  text-align: center;
  font-size: 50px;
}
.buttonLesson {
  font-size: 90%;
  position: absolute;
  right: 5%;
  bottom: 10%;
}
