<div class="header-subject">
  <mat-card-title class="example-space" *ngIf="!currentClass.getSubjects().length">Please, add subject </mat-card-title>
  <mat-card-title class="example-space" *ngIf="currentSubject">
    <span class="example-spacer"><b>Class:</b>   {{currentClass.getName()}}</span>
    <span class="example-icon"><b>Subject:</b>  {{currentSubject.getName()}}</span>

    <button mat-button [matMenuTriggerFor]="menu"
            class="dropDownSubject"
            color="primary"
            *ngIf="currentClass.getSubjects().length"
    ><b>Subject</b></button>

  </mat-card-title>

  <mat-menu #menu="matMenu">
    <button mat-menu-item *ngFor="let subject of currentClass.getSubjects()"
            (click)="setSubject(subject)">{{subject.getName()}}
    </button>
  </mat-menu>
  <button class="subject-add" mat-icon-button color="primary"
          (click)="clickOpenPanelSubject()"
          *ngIf="openPanelSubject">
    <mat-icon [fontIcon]="50">add</mat-icon>
  </button>

  <span class="dropDownSubject" *ngIf="!openPanelSubject">
      <form class="example-space" ngNoForm>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Enter theme" #subject autofocus>
        </mat-form-field>
      </form>

      <button class="example-icon"
              mat-button
              (click)="addSubjectByClass(subject.value)">
              <mat-icon aria-label="Example icon-button with a heart icon">done</mat-icon>
      </button>
      <button class="example-icon"
              mat-button
              (click)="clickOpenPanelSubject()">
        <mat-icon aria-label="Example icon-button with a heart icon">clear</mat-icon>
      </button>
    </span>
</div>
